@use "../../sass/abstracts" as *;

.rectangle {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    color: $color-offwhite;
    transition: $transition;

    &.green {
        background-color: $color-green;
    }

    &.orange {
        background-color: $color-orange;
    }

    &.black {
        background-color: $color-black;
    }    
}

.arrow-button {
    @include flex(row, center, center);
    border: none;
    padding: 1rem 0;
    cursor: pointer;
    background-color: transparent;
    color: $color-black;
    text-decoration: underline;    

    svg {
        margin-right: 0.5rem;
        color: $color-black;
        font-size: 1.5rem;
        padding: 0;
    }
}
