@use "../../sass/abstracts" as *;


section {
    @include flex(column, center, center);
    text-align: center;
    min-height: calc(100vh - 12rem);

    .header {
        @include flex(column, center, center);
        min-width: 432px; 
        position: relative;

        h1, h4 {
            width: 100%;
        }

        .error {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, 50%);
            color: $color-orange;
        }
    }

    form {
        @include flex(column, center, center);
        gap: 2rem;
        margin-top: 3.5rem;
        min-width: 432px;

        input,
        button, .input-wrapper {
            width: 100%;
        }

        .input-wrapper {
            position: relative;
            @include flex(row, flex-end, center);

            .button-hidden {
                width: unset;
                position: absolute;
                padding: 0;
                background: none;
                color: rgba($color-black, 0.5);
                @include flex(row, center, center);
                margin-right: 1rem;
                border: none;

                svg {
                    font-size: 1.5rem;
                }
            }
        }

        input {
            padding: 0.5rem;
            border-radius: 0.3rem;
            border: $border-grey;
        }
    }

    p {
        margin-top: 1.5rem;
    }

    .form-link {
        color: $color-orange;
    }

}


@media screen and (max-width: 480px) {
    section {

        form, .header {
            min-width: unset;
            width: 100%;
        }
    }
}