@use "../../sass/abstracts/" as *;

// HOUSE-CARDS ON MAIN PAGE

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.house-card {
    a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img-container {
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        @include flex(row, center, center);
        border-radius: 2.5%;
        display: flex;
        align-items: start;

        img {
            flex-shrink: 0;
            width: 100%;
            min-height: 100%;
            transition: $transition;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }

    .title-container {
        @include flex(row, space-between, center);
        margin: 0.5rem 0;

        h4:nth-child(2) {
            text-align: right
        }
    }

    .detail-container {
        @include flex(row, space-between, center);
        margin-top: auto;

        svg {
            font-size: 1.5rem;
        }
    }
}