@use "../../sass/abstracts/" as *;

// HOUSE-CARD WITH DETAILS

.house-detail-card {
    margin: 0 auto 2rem;
}

.multi-img-container {
    display: flex;
    flex-direction: row;
    max-height: 80vh;
    aspect-ratio: 3 / 2;
    margin-bottom: 6rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    button.icon {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0.5rem;
        z-index: 99;
    }

    .big-img-container {
        flex: 2;
        @include flex(column, center, center);
        overflow: hidden;
    }

    .small-img-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-left: 1rem;
        gap: 1rem;
    }
}

.img {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    @include flex(row, center, center);

    &:hover img {
        transform: scale(1.05);
        filter: brightness(75%);
    }
}

img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    transition: $transition;
    cursor: pointer;
}



.disabled {
    cursor: auto;

    &:hover {
        background-color: $color-orange;
        color: $color-offwhite;
    }
}

.form-details-container {
    @include flex(row, center, flex-start);
    gap: 3rem;

    .details-container {
        flex: 2;
        @include flex(column, center, flex-end);
        gap: 1rem;

        div:nth-child(1) {
            @include flex(row, space-between, center);
            width: 100%;
        }

        h3 {
            border-bottom: 1px solid $color-grey;
            width: 100%;
            text-align: right;
        }

        p {
            text-align: justify;
        }
    }

    .form-container {
        flex: 1;
    }
}