@use "../../sass/abstracts" as *;

.admin-navbar {
    @include flex(row, flex-start, center);
    padding: 0 0;
    border-bottom: none;
    box-shadow: none;

    a {
        &:nth-child(1) {
            margin-right: 2rem;
        }

        &.active {
            button {
                background-color: $color-orange;
            }
        }
    }
}

/* ADMIN SECTION - ADDING NEW HOUSE FORM */

.admin-form {
    @include flex(column, center, center);
    gap: 0.5rem;
    max-width: 672px;
    margin: 0 auto;
    position: relative;

    button,
    fieldset,
    textarea {
        width: 100%;
    }

    label {
        text-align: left;
        margin-top: 1rem;

        &.main-label {
            width: 100%;
            font-size: 1.2rem;
            font-weight: 600;

            &+input {
                width: 100%;
            }
        }
    }

    legend {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    fieldset {
        border: none;
        margin-top: 1rem;
        // margin: 1rem 0;
    }

    input,
    textarea {
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: $border-grey;
    }

    input[type=radio],
    input[type=checkbox] {
        margin-right: 1rem;

        &+label {
            margin-right: 2rem;
        }
    }

    // IMG INPUT 

    .form-img {
        width: 100%;
        min-height: 300px;
        position: relative;
        border: 3px dotted $color-grey;

        div {
            position: absolute;
            @include flex(column, center, center);
            gap: 1rem;
        }

        &-button {
            width: 100%;
            padding: 1rem;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;

            svg {
                font-size: 3rem;
                color: rgba($color-black, 0.3);
            }

            .input-file {
                @include flex(column, center, center);
                border: none;
                max-width: 100%;

                &::-webkit-file-upload-button {
                    display: none;
                }

                //CUSTOM BUTTON
                &::before {
                    content: 'Add images';
                    text-align: center;
                    font-size: 1rem;
                    display: inline-block;
                    display: block;
                    border: none;
                    cursor: pointer;
                    padding: 0.5rem 1.5rem;
                    height: 34px;
                    border-radius: 0.3rem;
                    color: $color-offwhite;
                    transition: $transition;
                    background: $color-green;
                    margin-bottom: 0.5rem;
                }
            }
        }

        .dropzone {
            padding: 2rem;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: $transition;
        }
    }

    button {
        margin: 3rem auto;
    }

    h4 {
        position: absolute;
        bottom: 0;
        margin-bottom: 1rem;
    }
}

.drag-active {
    z-index: 99;
    background: rgba($color-white, 0.5);
}

//LOADING MONITOR

.progress {
    width: 100%;
    height: 2rem;
    border: 1px solid $color-grey;
    border-radius: 0.3rem;
    @include flex(column, center, flex-start);
    margin: 1rem 0;
    position: relative;

    &-bar {
        height: 100%;
        background-color: $color-orange-light-3;
        border-radius: 0.3rem;
        @include flex(column, center, flex-start);        
        transition: $transition;
        position: absolute;
        z-index: 0;
    }

    &-text {
        padding-left: 1rem;
        z-index: 1;
    }
}

.progress-img {
    width: 100%;
    border: 1px solid $color-grey;
    border-radius: 0.3rem;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        aspect-ratio: 1 / 1;
    }
}